html, body {
  margin: 0;
  padding: 0;
}
header {
  text-align: center;
}
body {
  position: relative;
  height: 100vh;
}
div {
  width: 100vw;
  height: 400px;
  margin: auto;
  position: absolute;
  top: 120px;
}
div.one {
  background: yellow;
  right: -100vw;
}
div.two {
  background: red;
  left: 0;
}
div.three {
  background: blue;
  left: 100vw;
}